body{
    margin: 0px;
    padding: 0px;
    background: url('corn.jpg');
    height: 5000px;
}
header{
    background: red;
    padding:30px;
    border: 2px solid green;
    height: 40px;
    position: sticky;
    top: 0;
/*    margin: 0px;*/
}
.logo{
   display: inline-block;
    width: 30%;
    position: absolute;
    left: 30px;
    top: 0px;
/*    position: sticky;*/
}
.mid{
/*    display: inline-block;*/
/*    padding:30px;*/
/*    border: 2px solid green;*/
/*    height: 40px;*/
}
.navbar{
    display: inline-block;
    width: 60%;
    position: absolute;
    right: 10px;
    top: 5px;
}

.navbar ul{
/*    overflow: auto;*/
}
.navbar li {
    float: left;
    list-style-type: none;
    margin:  5px 10px;
}
.navbar li a{
    color: white;
    padding: 8px;
    font-size: 25px;
    text-decoration: none;
}
.navbar li a:hover,.navbar li a:active{
    text-decoration: underline;
    color: grey;
}
.box{
    border: 2px solid green;
    display: inline-block;
    width: 20%;
    margin: 4px;
}
.box h1{
    text-decoration: underline;
    text-align: center;
}
p{
    font-size: 25px;
    text-align: center;
}
.laxmi h1{
    margin: 0px auto;
    text-decoration: underline;
    background-color: red;
    color: white;
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 0;
}
img{
    width: 250px;
    height: 200px;
    margin: 0px auto;
}
.inf{
    display: inline-block;
    width: 30%;
    margin-top: 10px;
    margin-right: 30px;
    border: 2px solid green;
}
.inf p{
    text-align: center;
    background: red;
    color: white;
}
span{
    color: red;
}
#Aman{
    display: inline-block;
    text-align: left;
    color: white;
    border: 2px solid green;
    width: 50%;
    background: red;
}
.btn{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#btn1{
    background: green;
}
#btn2{
    background: blue;
}
.trade{
    margin: left;
    background: red;
    
}
#serve{
    text-align: left;
    color: white;
}
#vikram{

    background: url('scenery.jpg')
}
.container{
    width: 500px;
margin: 100px auto;
}
h2{
    text-align: center;
    padding: 20px;
    color: red;
    text-decoration: underline;
}
.register{
    font-size: 25px;
    border: 2px solid rgb(25,30,40);
    border-radius: 8px;
    color: white;
}
#register{
    margin-left: 25px;
}
label{
    font-style: italic;
}
.blank{
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    outline: 0;
    background-color: white;
}
.btn3{
    width: 200px;
    padding: 4px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    background-color: blue;
    cursor: pointer;
    margin-bottom: 25px;
}
.btn:hover{
    background: red;
}


